<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite">
	
  <test thread-count="5" name="Test">
	<groups>
		<run>
			<include name="sanity"></include>
		</run>
	</groups>
  	 <!-- Test -->
	  <classes>
		<class name="org.name.Sampleone"/>
		<class name="org.name.Sampletwo"/>
	  </classes>
  	</test>
  
 
</suite> <!-- Suite -->
